.form-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin:30px;
}

.formshow div{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: nowrap;
}

