.box{
    background: #FFFFFF;
    max-height: 382px;
    min-height: 382px;
    max-width: 1200px;
    min-width: 1200px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    outline: #FFFFFF;
    text-align: start;
}
.profile{
    
    height: 100vh;
    background-color: antiquewhite;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
