.outbox
    background: #FFFFFF
    max-width: 900px
    margin: auto
    margin-top: 20px
    overflow: auto
    box-shadow: 0 1px 5px 1px #BBCDC5

.title
    font-family: Roboto-Medium
    font-size: 25px
    color: #424C50
.page
    width: 100%
    height: 100%
    position: fixed
    background-color: rgba(100,100,100,0.5)
.answer
    font-family: Roboto-Regular
    font-size: 25px
    color: #424C50
    text-align: justify
    margin-top: 10px
.paragraph
    margin: 23px
    margin-left: 29px
    margin-right: 29px
    margin-bottom: 42px
.popup_box
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  display: none
  position: fixed
  z-index: 1
  left: 0
  top: 0
  width: 100%
  height: 100%
  overflow: auto
  background-color: rgb(0,0,0)
  background-color: rgba(0,0,0,0.4)
.popup_content
  background-color: #fefefe
  margin: auto
  border: 1px solid #888
  width: 900px
  height: 400px
.modal_outbox
  margin-left: 100px
  margin-right: 100px
.form_outbox
  display: flex
  flex-direction: column
  align-items: flex-end
.form_form
  display: flex
  flex-direction: column
  font-family: Roboto-Regular
  font-size: 25px
  color: #424C50
  ::placeholder
    font-family: Roboto-Regular
    font-size: 25px
    color: #BBCDC5
.form_input
  width: 700px
  height: 35px
  margin-top: 36px
  border: 0
  outline: 0
  background: transparent
  border-bottom: 1px solid rgba(100, 100, 100, 0.3)
.form_textArea
  width: 700px
  height: 161px
  margin-top: 34px
  margin-bottom: 59px
  border: 0
  outline: 0
  background: transparent
  border-bottom: 1px solid rgba(100, 100, 100, 0.3)
.form_button
  width: 386px
  height: 50px
  font-family: Roboto-Regular
  font-size: 25px
  background: #ED5736
  color: #FFFFFF
  text-align: center
  border-radius: 10px
  margin-bottom: 25px
.btn
  text-decoration: none
  border: none
  position: absolute
  right: 0
  bottom: 0
  margin-right: 25px
  margin-bottom: 25px
  button
    background: transparent
    background-color: rgba(100,100,100,0.1)
    padding: 0
    border: 0
