.question_outbox
  background: #FFFFFF
  box-shadow: 0 1px 5px 1px #BBCDC5
  font-size: 25px
  color: #424C50
  display: flex
  flex-direction: column
  padding: 29px
  padding-bottom: 11px
  padding-top: 11px
  margin-bottom: 19px

.question_title
  width: 100%
  margin-bottom: 10px
  font-family: Helvetica
  font-size: 25px
  color: #424C50
  text-align: justify  
  word-wrap: break-word
